# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode build products
DerivedData/
build/
Build/
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager local state
.build/
.swiftpm/
