<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.orion.Flick.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flick</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tiktokopensdk</string>
		<string>tiktoksharesdk</string>
		<string>snssdk1180</string>
		<string>snssdk1233</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>GOOGLE_REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137683702501-mj080k8h81c99imhm8fllfqp5kvuk4sl</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>137683702501-mj080k8h81c99imhm8fllfqp5kvuk4sl.apps.googleusercontent.com</string>
</dict>
</plist>
